.App {
  text-align: center;
}

div table tr td{
  border:1px dotted white;
}
.formula{
  background-color: yellow;
}
.header{
  background-color: blue;
  color: white;
  font: bold;
}
.data{
  background-color: gray;
  padding-left: 10px;
}
.custom-cell{
  background-color: #363434;
  color: white;
  padding-left: 10px;
}
.static-cell{
  background-color: gray;
  padding-left: 10px;
}
.table-2{
  margin-top: 30px;
  margin-left: 850px;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}



@keyframes App-logo-spin {
  /* from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
}
